libandroidicuinit filter=lfs diff=lfs merge=lfs -text
PREUPLOAD.cfg filter=lfs diff=lfs merge=lfs -text
tools filter=lfs diff=lfs merge=lfs -text
libandroidicu filter=lfs diff=lfs merge=lfs -text
CleanSpec.mk filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_BSD_LIKE filter=lfs diff=lfs merge=lfs -text
README.android filter=lfs diff=lfs merge=lfs -text
TEST_MAPPING filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
libicu filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
build filter=lfs diff=lfs merge=lfs -text
android_icu4j filter=lfs diff=lfs merge=lfs -text
icu4c filter=lfs diff=lfs merge=lfs -text
icu4j filter=lfs diff=lfs merge=lfs -text
NOTICE filter=lfs diff=lfs merge=lfs -text
README.version filter=lfs diff=lfs merge=lfs -text
android_icu4c filter=lfs diff=lfs merge=lfs -text
